//Caching schema
<FilesMatch "\.(jpg|png|css|js|md)$">
Header set Cache-Control "max-age=0"
</FilesMatch>

//Password Protect file
<Files /tesing>
AuthName "Prompt"
AuthType Basic
AuthUserFile /.htpassword
Require valid-user
</Files>

//Custom 403 errors
ErrorDocument 403 403.html

//Custom 404 errors
ErrorDocument 404 404.html
 
